<%- include('header') %>
<%- include('navbar') %>

<div id="about_container" class="d-flex flex-column justify-content-start mx-5">
    <div class="h1 d-flex justify-content-center">Rólunk</div>
    <div class="fs-2 w-75 mx-auto">
        <p class="text-center">Mai rohanó világunkban nagy szerepet játszik a mobilitás, ezért fontos a tömegközlekedés
            megvalósítása települések, városok és országok között. A projekt keretein belül egy vasúti közlekedéssel
            kapcsolatos weboldalt fejlesztünk, mely kilistázza a megfelelő járatokat, azok megállóhelyeit, valamint indulási
            és érkezési időpontjait. Célunk megkönnyíteni az útvonaltervezést, ezért figyelembe vesszük az útvonalak
            hosszát, vasúti pályák állapotát, megálló helyek számát, hogy a rendszer ezek függvényében a lehető
            legoptimálisabb útvonalat állítsa elő utazni kívánó felhasználóink számára.</p></div>
    <div class="mt-5 d-flex flex-row justify-content-center align-items-center">
        <div class="d-flex flex-column w-50">
            <div class="h2 d-flex justify-content-center">Projektcsapat:</div>
            <div class="d-flex d-flex justify-content-center">
                <div class="fs-4">
                    <ul>
                        <li>Csíkos Martin Nándor</li>
                        <li>Bíró Szabolcs</li>
                        <li>Makó Ádám</li>
                        <li>Szajkó István</li>
                        <li>Kovács János András</li>
                        <li>Patyi Péter</li>
                    </ul>
                </div>
                <div class="fs-4">
                    <ul style="list-style-type: none">
                        <li>- Projekt menedzser</li>
                        <li>- Projekt tag</li>
                        <li>- Projekt tag</li>
                        <li>- Projekt tag</li>
                        <li>- Projekt tag</li>
                        <li>- Projekt tag</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column w-25">
            <img src="images/about.png" class="w-100">
        </div>
    </div>
</div>
<style>
@media print {
    #about_container>*, .fs-4{
        display: block;
    }
}
</style>
<%- include('footer') %>
