<%- include('header') %>
    <main>
        <div id="newStation" class="modifyBox">
            <h2 class="boxTag">Új megálló hozzáadása</h2>
            <form action="uj_megallo_hozzaadasa" method="post">
                <label for="megallo_neve">Megálló neve:</label>
                <input type="text" name="megallo_neve" id="megallo_neve" placeholder="megálló neve">
                <input type="submit" value="Hozzáad">
            </form>
            
        </div>

        <div id="newLine" class="modifyBox">
            <h2 class="boxTag">Új járat hozzáadása</h2>
            
            <form action="/uj_jarat_hozzaadasa" method="post">
                <div id="baseData">
                    <label for="JaratID">JáratID</label>
                    <input type="text" name="JaratID" id="JaratID" placeholder="azonosító" required>
                </div>
                
                <div id="stationContainer">
                    <!-- Ide kerülnek a hozzáadandó megállók -->
                </div>
                <div id="stationController">
                    <button type="button" onclick="addInput()">Megálló hozzáadás</button>
                    <button type="button" onclick="removeInput()">Megálló eltávolítás</button>
                </div>
                <input type="submit" value="Járat hozzáadása">
            </form>
            
        </div>

        <div id="editStation" class="modifyBox">
            <h2 class="boxTag">Megálló módosítása</h2>
            <form action="/megallo_modositasa" method="post">
                <label for="jelenlegi_megallo_nev">Jelenlegi megállónév:</label>
                <input type="text" name="jelenlegi_megallo_nev" id="jelenlegi_megallo_nev">
                <label for="uj_megallo_nev">Új megállónév:</label>
                <input type="text" name="uj_megallo_nev" id="uj_megallo_nev">
                <input type="submit" value="Módosít">
            </form>
            
        </div>

        <div id="editLine" class="modifyBox">
            <h2 class="boxTag">Járat módosítása</h2>

            <label for="lineSearch">Keresés</label>
            <input type="text" name="lineSearch" id="lineSearch">

            <form action="/jarat_modositasa" method="post">
                <div id="baseData">
                    <label for="JaratID">JáratID</label>
                    <input type="text" name="JaratID" id="JaratID">
                </div>
                
                <div id="stationContainer">
                    <!-- lekérdezett megállók -->
                </div>
                
                <div id="stationController">
                    <button>Megálló hozzáadás</button>
                    <button>Megálló eltávolítás</button>
                </div>
                
                <input type="submit" value="Járat módosítás">
            </form>
            
        </div>

        <div id="deleteLine" class="modifyBox">
            <h2 class="boxTag">Járat törlése</h2>
            <form action="/jarat_torlese" method="post">
                <label for="JaratID">JáratID:</label>
                <input type="text" name="JaratID" id="JaratID">
                <div class="selectInput">
                    <label for="verifyDelete">Biztosan törölni szeretném</label>
                    <input type="checkbox" name="verifyDelete" id="verifyDelete" required>
                </div>
                <input type="submit" value="Törlés">
            </form>
        </div>
    </main>
<%- include('footer') %>
<script>
    const container = document.getElementById('stationContainer');
    var inputCount = 0;
    addInput();

    function addNewLine(){
        let Megallok = [];
        for (let i = 0; i < inputCount; i++){
            Megallok.push({
                "megallo_neve": $(`#station${i}`).val(),
                "erkezes": $(`#arriveTime${i}`).val()
            });
        }
        $.post("/uj_jarat_hozzaadasa", {Megallok: Megallok}, (res) => {
        if(res){
            alert("Járat hozzáadása sikeres."); history.back();
        }
    });}
    
    function addInput(){
        inputCount++;
        let input = document.createElement('input');
        var newInputStation = "<div class=\"stationBox\" id=\"stationBox" + inputCount + "\"><label for=\"station" + inputCount + "\">"+ inputCount +". megálló </label><input type=\"text\" name=\"station" + inputCount + "\" id=\"station" + inputCount + "\" placeholder=\"megálló neve\"><input type=\"time\" name=\"arriveTime" + inputCount + "\" id=\"arriveTime" + inputCount + "\"></div>";
        container.innerHTML += newInputStation;
    }
    function removeInput(){
        if (inputCount > 1)
            document.getElementById("stationBox" + inputCount--).remove();
        else
            alert("A járatnak legalább egy megállóból kell állnia!");
    }
    
</script>