</body>
<footer class="d-flex flex-wrap justify-content-around mt-3 align-items-center border-top" style="position: relative; bottom: 0; width: 100%; height: 200px;">
    <div class="container col-md-3">
        <p class="h3">Készítők:</p>
        <p class="text-body-secondary">Csíkos Martin Nándor, Bíró Szabolcs László, Patyi Péter, Makó Ádám Péter, Szajkó István, Kovács János András</p>
    </div>

    <div class="container col-md-3 d-flex flex-column align-items-center justify-content-center text-decoration-none h-100">
        <a href="" class="h-50">
            <img class="bi h-100" src="images/logo.png" alt="">
        </a>
        <a href="" class="h3 link-body-emphasis link-underline link-dark link-underline-opacity-0">Vonat Projekt</a>
    </div>

    <div class="container col-md-3">
        <ul class="nav fs-4">
            <li class="nav-item"><a href="/home" class="nav-link link-body-emphasis link-dark px-2 text-body-secondary">Főoldal</a></li>
            <!--<li class="nav-item"><a href="" class="nav-link link-body-emphasis link-dark px-2 text-body-secondary">Kapcsolat(M4)</a></li>-->
            <!--<li class="nav-item"><a href="" class="nav-link link-body-emphasis link-dark px-2 text-body-secondary">Rólunk(M4)</a></li>-->
        </ul>
    </div>
</footer>
</html>
