<%- include('header') %>
<%- include('navbar') %>

    <div class="bemutatkozas">
        <h2>Üdvözöljük a Vonat oldalon!</h2>

        <p>
            Fedezze fel velünk a vonatozás világát! Itt böngészheti a legfrissebb menetrendeket, és könnyedén lekérdezheti a vonatok
            indulási időpontjait és útvonalait az adatbázisunk segítségével. Nálunk
            mindig naprakész információkat talál a vonatokról. Kényelmesen tervezheti utazását, és mindig időben értesülhet az
            aktuális útvonalakról.
        </p>

        <p>
            A weboldalunk célja, hogy segítse Önt az utazás tervezésében, legyen szó munkába járásról, kirándulásról vagy üzleti
            találkozóról. A felhasználóbarát felületünk és megbízható információink segítenek abban, hogy mindig időben és
            zökkenőmentesen elérje úti célját.
        </p>
    </div>

    <div class="queries">
        <div class="schedule_based_query">
            <h1 class="container-header">Menetrend alapján keresés</h1>

            <form action="/menetrend_alapjan_lekerdezes" method="post">
                <input type="text" name="indulasi_hely" id="indulasi_hely" placeholder="Honnan?" required>
                <input type="text" name="erkezesi_hely" id="erkezesi_hely" placeholder="Hová?" required>
                <br>

                <input type="time" name="kezdo_indulasi_ido" id="kezdo_indulasi_ido" required>-tól/től

                <br>
                <input type="button" onclick="MenetrendKereses()" name="kereses" id="kereses" value="Keresés" class="btn btn-primary">
            </form>
        </div>

        <p>VAGY</p>

        <div class="schedule_based_query">
            <h1 class="container-header">Járat alapján keresés</h1>
        
            <form action="" method="get">
                <input type="text" name="jarat_id" id="jarat_id" placeholder="Járat neve" required>
        
                <input type="button" onclick="JaratKereses()" name="kereses" id="kereses" value="Keresés" class="btn btn-primary">
            </form>
        </div>
    </div>


<div id="result-container"></div>

<script defer>
    function MenetrendKereses() {
        let resultContainer = $("#result-container");
        resultContainer.empty();

        $.post("/menetrend_alapjan_lekerdezes", {
            indulasi_hely: $("#indulasi_hely").val(),
            erkezesi_hely: $("#erkezesi_hely").val(),
            kezdo_indulasi_ido: $("#kezdo_indulasi_ido").val()
        }, (result) => {
            if (result == "") {
                alert("Hibás megálló.");
            } else {
                for (let i = 0; i < result.length; i++) {
                    let table = $("<table class='fav-line-row'></table>");

                    let row1 = $("<tr></tr>");
                    row1.append(`<td>${$("#indulasi_hely").val()}</td>`);
                    row1.append(`<td>${result[i].JaratID}</td>`);
                    row1.append(`<td>${$("#erkezesi_hely").val()}</td>`);

                    let row2 = $("<tr></tr>");
                    row2.append(`<td>${result[i].Indulasi_ido}</td>`);
                    row2.append(`<td>${result[i].Megallok_szama} db megálló</td>`);
                    row2.append(`<td>${result[i].Erkezesi_ido}</td>`);

                    table.append(row1);
                    table.append(row2);

                    //let buttonRow = $("<tr></tr>");
                    //let buttonCell = $("<td colspan='3'></td>");
                    //let button = $("<button class='btn btn-primary'>Elmentés/eltávolítás a kedvencekből</button>");
                    //buttonCell.append(button);
                    //buttonRow.append(buttonCell);
                    //table.append(buttonRow);

                    resultContainer.append(table);
                }
            }
        });
    }
    
    function JaratKereses() {
        let resultContainer = $("#result-container");
        resultContainer.empty();

        $.post("/jarat_alapjan_lekerdezes", {
            JaratID: $("#jarat_id").val()
        }, (result) => {
            if (result == "") {
                alert("Hibás járat.");
            } else {
                console.log(result);
                let table = $("<table class='fav-line-row'></table>");

                let header1 = $("<tr></tr>");
                header1.append(`<td colspan="2">Megállók, érkezési idővel</td>`);
                table.append(header1);

                for (let i = 0; i < result.length; i += 3) {
                    let row = $("<tr></tr>");

                    for (let j = 0; j < 3; j++) {
                        if (i + j < result.length) {
                            // Create the first cell with rowspan="2"
                            let cell1 = $(`<td rowspan="2">${i + j + 1}. megálló: ${result[i + j].megallo}</td>`);
                            row.append(cell1);

                            // Create the second cell
                            let cell2 = $(`<td>${i + j + 1}. idő: ${result[i + j].ido}</td>`);
                            row.append(cell2);
                        } else {
                            // If there is no data, create empty cells
                            row.append("<td></td>");
                            row.append("<td></td>");
                        }
                    }

                    table.append(row);
                }

                resultContainer.append(table);
            }
        });
    }





</script>

<%- include('footer') %>
