<header class="py-1 border-bottom" style="background-image: url('images/headerbg.png'); background-repeat: no-repeat; background-size: contain; background-position: center">
    <div class="container d-flex flex-wrap justify-content-center" style="height: 70px">
        <a href="/home" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none h-100">
            <img class="bi me-3 h-100" src="images/logo.png" alt="">
            <span class="fs-3 link-body-emphasis">Vonat</span>
        </a>
    </div>
</header>
<%if(username){%>
<nav class="py-2 mb-4 bg-light border-bottom">
    <div class="container d-flex justify-content-between fs-4">
        <ul class="nav">
            <li class="nav-item"><span class="px-3 nav-link link-dark">Helló, <%=username%></span></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="/home" class="nav-link link-body-emphasis link-dark px-3 active" aria-current="page">Főoldal</a></li>
            <li class="nav-item"><a href="/profile" class="nav-link link-body-emphasis link-dark px-3">Profil megtekintése</a></li>
            <!--<li class="nav-item"><a href="" class="nav-link link-body-emphasis link-dark px-3">Kapcsolat(M4)</a></li>-->
            <!--<li class="nav-item"><a href="" class="nav-link link-body-emphasis link-dark px-3">Rólunk(M4)</a></li>-->
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="/logout" class="nav-link link-body-emphasis link-dark px-2">Kijelentkezés</a></li>
        </ul>
    </div>
</nav>
<%} else {%>
    <nav class="py-2 mb-4 bg-light border-bottom">
        <div class="container d-flex justify-content-between fs-4">
            <ul class="nav">
                <li class="nav-item"><a href="/login" class="nav-link link-body-emphasis link-dark px-2">Bejelentkezés</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="/home" class="nav-link link-body-emphasis link-dark px-3 active" aria-current="page">Főoldal</a></li>
                <li class="nav-item"><a href="" class="nav-link link-body-emphasis link-dark px-3">Kapcsolat(M4)</a></li>
                <li class="nav-item"><a href="" class="nav-link link-body-emphasis link-dark px-3">Rólunk(M4)</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="/registration" class="nav-link link-body-emphasis link-dark px-2">Regisztráció</a></li>
            </ul>
        </div>
    </nav>
<% } %>
