<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Regisztráció</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/log_reg.css"/>
</head>
<body>
<%- include('navbar') %>
<div class="reg_container">
  <button class="button" onclick="toggleForm()">Regisztráció</button>
</div>
<div id="registrationForm" class="registration-form">
  <form action="/auth/register" method="post">
    <table class="table">
      <tr>
        <th colspan="2" class="table-header">Regisztráció</th>
      </tr>
      <tr>
        <td>
          <label for="firstname">Keresztnév:</label>
          <input type="text" name="firstname" id="firstname" class="form-control" required>
        </td>
        <td>
          <label for="surname">Vezetéknév:</label>
          <input type="text" name="surname" id="surname" class="form-control" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="username">Felhasználónév</label>
          <input type="text" name="username" id="username" class="form-control" required>
        </td>
        <td>
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" class="form-control" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Jelszó</label>
          <input type="password" name="password" id="password" class="form-control" required>
        </td>
        <td>
          <label for="passwordre">Jelszó újra</label>
          <input type="password" name="passwordre" id="passwordre" class="form-control" required>
        </td>
      </tr>


      <tr>
        <td colspan="2">
          <label for="adatkezelesi_szab">Tudomásul veszem az adatkezelési szabályzatot!</label>
          <input type="checkbox" id="adatkezelesi_szab" name="adatkezelesi_szab", value="1" required>
        </td>
      </tr>



      <tr>
        <td colspan="2">
          <input type="submit" value="Elküld" class="btn btn-primary">
        </td>
      </tr>
    </table>
  </form>




</div>
<script>
  function toggleForm() {
    var form = document.getElementById("registrationForm");
    if (form.style.display === "none" || form.style.display === "") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  }



</script>
<%- include('footer') %>
