main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modifyBox{
    border: solid 3px black;
    margin: 5%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
#stationContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#baseData{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input[type=text]{width: 45%;}
input[type=number]{width: 25%;}
#stopContainer{width: 98%;}
#stationContainer{width: 98%;}
#JaratID{width: 30%;}
#lineSearch{width: 20%;}
#megallo_neve{width: 100%;}
#jelenlegi_megallo_nev{width: 100%;}
#uj_megallo_nev{width: 100%;}