/* body {} */

.table-header {
    border-bottom: 1px solid black;
}

.user-data-container {
    display: flex;
    justify-content: center;
}

.container-header,
.fav-line-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    margin: 0px;
}

.container-header {
    border-bottom: 1px solid black;
    height: 47px;
}

.delete-user,
.favorite-lines {
    display: block;
    margin: auto;
    border: 1px solid black;
}

.user-data-container,
.favorite-lines,
.delete-user {
    margin-top: 100px;
    margin-bottom: 100px;
}

.delete-user {
    width: 500px;
}

.favorite-lines,
.fav-line-row {
    width: 1100px;
}

.read-user-data {
    border: 1px solid black;
    width: 350px;
    float: left;
}

.read-user-data .table-header {
    width: 350px;
}

.update-user-data {
    border: 1px solid black;
    float: right;
    width: 700px;
}

.update-user-data .table>tbody>tr>td {
    border: none;
}

.delete-user-check {
    margin: 20px !important;
}

.delete-user input[type="submit"] {
    margin-bottom: 20px;
}

.update-user-data .form-control,
.form-check-input {
    border: var(--bs-border-width) solid black !important;
}

.table>tbody>tr>th {
    text-align: center;
    font-size: 20px;
}

.update-user-data tr {
    height: 30px;
}

.update-user-data .table-header {
    width: 700px;
}

.update-user-data input {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 300px;
}

.update-user-data label {
    margin-left: 18px;
}

input[type="submit"] {
    display: block;
    margin: auto;
}

.fav-line-row td {
    text-align: center;
    vertical-align: middle;
}

.fav-line-row td {
    height: 70px;
}

.fav-line-row {
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

.favorite-lines .table {
    margin-bottom: 0px;
}