.queries {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 250px;
}

.queries p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
}

#result-container table {
    border: 1px solid black;
}

#result-container table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#result-container table td {
    text-align: center;
}

table.fav-line-row {
    border-collapse: collapse;
}

table.fav-line-row td {
    border: 1px solid #ddd;
    padding: 8px;
}

table.fav-line-row tr:nth-child(even) {
    background-color: #f2f2f2;
}